.container {
    display: flex;
    align-items: center;
}

.number {
    font-family: var(--font);
    color: var(--primary-color);
    font-size: 20px;
    display: inline;
    margin-right: 8px;
}

.coin {
    width: 29px;
    display: inline;
}